.wrapper_post {
	padding: 3rem 0;
	.post {
		text-align: center;
		.date {
			font-size: .9em;
			margin: 0;
		}
		h2 {
			margin: 0;
			font-size: 2rem;
			text-transform: uppercase;
			a {
				color: $dark;
				text-decoration: none;
					&:hover {
						color: $highlight;
					}
			}
		}
	}
}

#post_show_content {
	header {	
		text-align: center;
		.date {
			font-size: .9rem;
			color: $light;
			margin: 0;
		}
		h1	{
			margin: 0;
		}
	}
}



