#main_footer {
	padding: 2.5em 5%;
	border-top: 1px solid $border;
	.copyright {
		float: left;
		font-size: .9rem;
		margin: 0;
	}
	nav {
		float: right;
		i {
			color: $dark;
			margin-left: 1rem;
			padding: .2rem;
				&:hover {
					color: $highlight;
				}
		}
	}
}