#main_navigation {
	padding: 2.5em 5%;
	border-bottom: 1px solid $border;
	
	.name {
		font-weight: 700;
		font-size: 1rem;
		letter-spacing: 4px;
		text-transform: uppercase;
		border: 2px solid $border;
		padding: 1rem;
		text-decoration: none;
		color: $dark;
		float: left;
	}
	nav {
		float: right;
		padding-top: 1.25rem;
		a {
			text-decoration: none;
			color: $dark;
			margin: 0 1rem;
			font-size: 1rem;
		}	
	}
}