body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	color: $dark;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.375rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p, li {
	font-size: 1.1rem;
	line-height: 1.75;
}

p, ul, ol {
	margin: 0 0 1.6rem 0;
}

#page_title {
	font-size: 1.3em;
	// font-weight: 400;
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 3rem 0;
}

hr {
	width: 3rem;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $highlight;
	margin: 2rem 0;
}