<footer id="main_footer">
	<p class="copyright">&copy; 2016 Jamie Godel</p>
	<nav>
		<a href="https://github.com/jrogodel"><i class="fa fa-github"></i></a>
		<a href="http://codepen.io/jrogodel/"><i class="fa fa-codepen"></i></a>
		<a href="https://www.flickr.com/people/91698193@N05"><i class="fa fa-flickr"></i></a>
		<a href="https://www.linkedin.com/in/james-godel-1667a0b8?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a>
		<a href="https://facebook.com/jrogodel"><i class="fa fa-facebook"></i></a>
		<a href="https://plus.google.com/109428308757107268590"><i class="fa fa-google-plus"></i></a>
	</nav>
</footer>