<footer id="main_footer">
	<p class="copyright">&copy; 2016 Jamie Godel</p>
	<nav>
		<a href="#"><i class="fa fa-github"></i></a>
		<a href="#"><i class="fa fa-codepen"></i></a>
		<a href="#"><i class="fa fa-flickr"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-google-plus"></i></a>
	</nav>
</footer>