<header id="main_navigation" class="clearfix">
	<a href="#" class="name">Jamie Godel</a>
	<nav>
		<a href="articles.html" title="articles">Articles</a>
		<a href="#" title="projects">Projects</a>
		<a href="#" title="contact">Contact</a>
	</nav>		
</header>