<!-- Welcome Page -->

<div class="wrapper clearfix">
	<div class="col-1 about homepage_content">
		<h2>Who am I?</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud <a href="#">exercitation</a>.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Articles</h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>

	</div>
	<div class="col-3 homepage_content">
		<h2>Projects</h2>
		<hr>
		<h3><a href="#">Tweeter</a></h3>
		<p class="date">Saturday January 3rd, 2016</p>
		<h3><a href="#">Dog Bites</a></h3>
		<p class="date">Saturday January 23rd, 2016</p>
		<h3><a href="#">Jot-It</a></h3>
		<p class="date">Saturday February 12th, 2016</p>
	</div>
</div>



