
	<h1 id="page_title">Articles</h1>

	<div class="wrapper_post wrapper_skinny">

		<div class="post">
			<p class="date">Thursday November 11, 2016</p>
			<h2><a href="#">The Modern Web</a></h2>
			<hr>
		</div>
	 	<div class="post">
	 		<p class="date">Thursday November 11, 2016</p>
	 		<h2><a href="#">Rails for Noobs</a></h2>
	 		<hr>
	 	</div>
	 	<div class="post">
	 		<p class="date">Thursday November 11, 2016</p>
	 		<h2><a href="#">The Rabbit Hole</a></h2>
	 		<hr>
	 	</div>

		<!-- Pagination Gem -->
	 	<div class="pagination">
	 		<span class="previous_page disabled">Previous</span>
	 		<em class="current">1</em>
	 		<a rel="next" href="#">2</a>
	 		<a class="next_page" href="#">Next</a>
	 	</div>

	</div> 

	<footer id="main_footer">
		<p class="copyright">&copy; 2016 Jamie Godel</p>
		<nav>
			<a href="#"><i class="fa fa-github"></i></a>
			<a href="#"><i class="fa fa-codepen"></i></a>
			<a href="#"><i class="fa fa-flickr"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</nav>
	</footer>

</body>
</html>