@import "scss/normalize";
@import "scss/vars";
@import "scss/typography";
@import "scss/header";
@import "scss/footer";
@import "scss/welcome";
@import "scss/article-projects";
@import "scss/pagination";
@import "scss/contact";

* {
	box-sizing: border-box;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.wrapper_skinny {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

.wrapper_padding {
	padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

