<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jamie Godel | Avid hacker</title>
	<link rel="stylesheet" href="scss/main.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<a href="index.html" class="name">Jamie Godel</a>
		<nav>
			<a href="articles.html" title="articles">Articles</a>
			<a href="projects.html" title="projects">Projects</a>
			<a href="contact.html" title="contact">Contact</a>
		</nav>		
	</header>

	<h1 id="page_title">Articles</h1>

	<div class="wrapper_post wrapper_skinny">

		<div class="post">
			<p class="date">Thursday November 11, 2016</p>
			<h2><a href="#">The Modern Web</a></h2>
			<hr>
		</div>
	 	<div class="post">
	 		<p class="date">Thursday November 11, 2016</p>
	 		<h2><a href="#">Rails for Noobs</a></h2>
	 		<hr>
	 	</div>
	 	<div class="post">
	 		<p class="date">Thursday November 11, 2016</p>
	 		<h2><a href="#">The Rabbit Hole</a></h2>
	 		<hr>
	 	</div>

		<!-- Pagination Gem -->
	 	<div class="pagination">
	 		<span class="previous_page disabled">Previous</span>
	 		<em class="current">1</em>
	 		<a rel="next" href="#">2</a>
	 		<a class="next_page" href="#">Next</a>
	 	</div>

	</div> 

	<footer id="main_footer">
		<p class="copyright">&copy; 2016 Jamie Godel</p>
		<nav>
			<a href="#"><i class="fa fa-github"></i></a>
			<a href="#"><i class="fa fa-codepen"></i></a>
			<a href="#"><i class="fa fa-flickr"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</nav>
	</footer>

</body>
</html>